@use 'responsive' as r;

:host {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
}

.body {
    flex-grow: 1;
    padding: 1rem;
    @include r.after-size(large){
        display: grid;
        grid-template-columns: 5fr 3fr;
    }
    
    gap: 1rem;

    .center-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .details-section{
        
    }

    .aside-section{

        .side-column{
                    
            .title {
                text-align: center;
                position: sticky;
                top: 0;
                background-color: white;
                z-index: 5;
                padding-block: 1rem;
            }

            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        @include r.after-size(large){
            position: relative;
            .scroll-wrapper{
                position: absolute;
                inset: 0;
                overflow: auto;
            }
        }
        
    }
}