:host {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
}
.body {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 1rem;
    padding: 1rem;

    .details-section{
        .scroll-wrapper {
            height: 100%;
            // display: flex;
            // align-items: center;
            // justify-content: center;
        }
    }

    .aside-section{
        position: relative;
        .scroll-wrapper{
            position: absolute;
            inset: 0;
            overflow: auto;
            .side-column{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}