<mat-card [ngClass]="{'hover' : showHover}" class="product-card" appearance="outlined" >
  <mat-card-header [routerLink]="withLink ? ['/product', product.id] : null" >
    <mat-card-title>{{product.title}} </mat-card-title>
  </mat-card-header>
  <div [routerLink]="withLink ? ['/product', product.id] : null" [ngClass]="{'clamp-img-size': clampImageSize}" class="img-container">
      <img mat-card-image src="{{product.image}}" alt="Product image for {{product.title}}">
  </div>
  @if (showDescription) {
    <mat-card-content class="description">
      {{product.description}}
    </mat-card-content>
  }
  <mat-card-content class="card-body" >
    <div>
      <mat-chip class="chip">
          {{product.category}}
      </mat-chip>
    </div>
    <div class="actions">
      @if (showAddToCartBtn || showRemoveProductBtn) {
        <div class="add-to-cart">
          @if(loading()){
            <mat-spinner [diameter]="24" class="spinner"></mat-spinner>
          }
          @if (showAddToCartBtn) {
            <button (click)="triggerAddToCartEvent()" matButton="filled">
              <mat-icon>shopping_cart</mat-icon>
              Adicionar ao carrinho
            </button>
          }
          @if (showRemoveProductBtn) {
            <button class="remove" (click)="triggerRemoveProductEvent()" matButton="filled">Remover</button>
          }
        </div>
      }
      <p class="price">
        {{product.price | currency: 'BRL'}}
      </p>
    </div>
  </mat-card-content>
</mat-card>